Daily Ops Report - Error Handler (1).json
{
  "name": "Daily Ops Report - Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ed4e95e1-e8fa-425d-8b7a-7caedcdaca62",
      "name": "Catch Workflow Errors"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2f902f4-68bd-4614-9a14-5457334d8775",
              "name": "workflow_name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "04c5c868-7120-4fca-ba88-23f18010828c",
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "9d3f309d-1ece-42e8-a11b-def46945de7c",
              "name": "error_node",
              "value": "={{ $json.execution.error.node.name }}",
              "type": "string"
            },
            {
              "id": "e23fb259-d595-45e9-91c3-5b4274277207",
              "name": "error_time",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "49b7eead-beb0-446e-9719-4e53b5ece1c2",
      "name": "Extract Error Details"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "admin-alert",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": "=🚨 *CRASH ALERT — Daily Ops Report Failed!*\n\n*Workflow:* {{ $json.workflow_name }}\n*Failed at Node:* {{ $json.error_node }}\n*Error:* {{ $json.error_message }}\n*Time:* {{ $json.error_time }}\n\nPlease check n8n immediately and fix\nthe issue! ⚠️\n\n_First Choice Bank Operations Team_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        416,
        0
      ],
      "id": "60f4572f-a7b7-4e9d-9dd9-92ee18ddc3f7",
      "name": "Alert Admin for Error",
      "webhookId": "f3bbf8b5-1919-4c19-ad36-47bb51df6c3f",
      "credentials": {
        "slackApi": {
          "id": "Hhbj4uTRgR73NrAE",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Catch Workflow Errors": {
      "main": [
        [
          {
            "node": "Extract Error Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Details": {
      "main": [
        [
          {
            "node": "Alert Admin for Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "409b8ef1-28e7-452d-828c-4dc087081c1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f59d3c6412a567dea0ec2ce4a30698f869f9d3cf393d4e6d0252bb8a448d0c92"
  },
  "id": "MxPJ3y0lLnCVmW2n",
  "tags": []
}